<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a> |
      <a href="{{ '/about.html' | relative_url }}">About</a> |
      <a href="{{ '/japji.html' | relative_url }}" > Japji </a> |
      <a href="{{ '/rehras.html' | relative_url }}">Rehras</a> |
      <a href="{{ '/quotes.html' | relative_url }}">Quotes</a> |
    </nav>
    <hr />
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <hr />
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html>
